*{
        box-sizing: border-box;
}


html {
        background-image: url('./img/pexels-festus-obi-30040337-10743369.jpg');
        background-attachment: fixed;
        background-size: cover;
        /* background-position: bottom center; */

        color: #16265d;
        background-color: rgba(8, 27, 65, 0.438);
        background-blend-mode: multiply;
        font-family: Roboto, Helvetica, Arial, sans-serif;
}

form {
        background-color: rgba(255, 255, 255, 0.589);
        width: max-content;
        max-width: 80vw;
        margin: 100px auto;
        padding: 2rem;
        padding-bottom: 8px;
        border-radius: 0.5rem;
}

form label {
        text-align: center;
        display: block;
}

.form-row {
        margin-bottom: 1rem;
}

textarea {
        padding: 0.75rem;
        border-radius: 7px;
        border-width: 1px;
        background-color: #16265d;
        color: white;
        width: -webkit-fill-available;
        margin-top: 10px;
}

textarea:focus {
        outline-color: #039be5;
        outline-style: solid;
        outline-width: 2px;
}

.progress-cont {
        margin-top: 1.2rem;
}

em.quiz-progress {
        font-size: .9rem;
        border-radius: 1rem;
        box-shadow: inset 1px 1px 2px 0 #0000002b;
        color: #16265d;
        background-color: #8080804a;
        padding: 3px;
        padding-left: 6%;
}


.subtext {
        font-size: .8em
}

.hidden {
        display: none;
}

.button-row {
        display: flex;
}

#message {
        background: rgba(255, 255, 255, 0.712);
        max-width: 360px;
        margin: 100px auto 16px;
        padding: 32px 24px;
        border-radius: 3px;
}

#message h2 {
        color: #ffa100;
        font-weight: bold;
        font-size: 16px;
        margin: 0 0 8px;
}

#message h1 {
        font-size: 22px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 0 16px;
}

#message p {
        line-height: 140%;
        margin: 16px 0 24px;
        font-size: 14px;
        text-align: justify;
}

button,
input[type=submit] {
        display: block;
        text-align: center;
        background: #039be5;
        text-transform: uppercase;
        color: white;
        padding: 16px;
        border-radius: 4px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
}

#message p {
        margin-bottom: 0;
}

#message,
#message button {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#message .message-language-select>p {
        margin-bottom: 1rem;
}

