/* #region Sitewide */
*,
textarea {
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
}

h1 {
        text-align: center;
}

h1,h2,h3,h4,h5,h6 {
        font-weight: 600;
}

html {
        color: #265473;
        font-family: Raleway, Helvetica, Arial, sans-serif;
}

.hidden{
        display: none !important;
}
input,
textarea,
select,
.added-answer-input-cont {
        padding: 0.75rem;
        border-radius: 7px;
        border-width: 1px;
        background-color: #265473;
        color: white;
        width: 100%;
}
textarea {
        width: -webkit-fill-available;
        margin-top: 10px;
}

textarea:focus,
input:focus {
        outline-color: #039be5;
        outline-style: solid;
        outline-width: 2px;
}

button,
input[type=submit] {
        display: block;
        text-align: center;
        background: #1a0801;
        text-transform: uppercase;
        color: white;
        padding: 16px;
        border-radius: 4px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        font-weight: 800;
        outline: none;
}
input[type=submit]:active,
button:active {
        box-shadow: inset 1px 1px 5px 4px black;
}
fieldset{

}
input[type=radio] {
        padding: 0;
        width: max-content;
        margin: 0;
        margin-right: 5px;
}
fieldset .form-row{
        display: flex;
        align-items: baseline;
        padding-left: 0.5rem;
        margin-top: 10px;
}
/* #endregion Sitewide */


/* #region scrollbar */

/*____________ Webkit Browsers_________*/
::-webkit-scrollbar{
        width: 1.5rem;
        padding: 1rem;
}
::-webkit-scrollbar-track{
        background-color: transparent;
}
::-webkit-scrollbar-thumb{
        background-color: #265473;
        border-radius: 5px;
        border-left: 1.1rem solid transparent; /* a way to simulate padding*/
        border-right: 0.3rem solid transparent; /* a way to simulate padding*/
        background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover{
        background-color: #a2baca;
}

/*____________ Firefox Browsers_________*/
scrollbar{
        scrollbar-width: thin;
        scrollbar-color: #265473 transparent; /*thumb then track color*/
}

/* #endregion scrollbar */


/* #region quiz */
form {
        background-color: rgb(255 255 255 / 1%);
        color: white;
        backdrop-filter: blur(4px);
        box-shadow: 1px -1px 3px 0 #1a08014f;
        width: max-content;
        max-width: 80vw;
        margin: 100px auto;
        padding: 1rem 2rem;
        padding-bottom: 8px;
        border-radius: 0.5rem;
}

form label {
        text-align: center;
        display: block;
        margin-bottom: 5px;
}

.form-row {
        margin-bottom: 1rem;
}


.progress-cont {
        margin-top: 1.2rem;
}

em.quiz-progress {
        font-size: .9rem;
        border-radius: 1rem;
        box-shadow: inset 1px 1px 2px 0 #0000002b;
        color: #265473;
        background-color: #8080804a;
        padding: 3px;
        padding-left: 6%;
}
.subtext,
em.quiz-progress {
        font-size: .8em;
        font-weight: 300;
        font-style: italic;
}

.hidden {
        display: none;
}

.button-row {
        display: flex;
}

#message {
        background: rgba(255, 255, 255, 0.712);
        max-width: 360px;
        margin: 100px auto 16px;
        padding: 32px 24px;
        border-radius: 3px;
}

#message h2 {
        color: #ffa100;
        font-size: 16px;
        margin: 0 0 8px;
}

#message h1 {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 0 16px;
}

#message p {
        line-height: 140%;
        margin: 16px 0 24px;
        font-size: 14px;
        text-align: justify;
}

#message p {
        margin-bottom: 0;
}

#message,
#message button {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#message .message-language-select>p {
        margin-bottom: 1rem;
}
/* #endregion quiz */


/* #region Login */
body.auth {
        display: initial;
}
h1.auth{
        color: white;
        text-align: center !important;
        margin-top: 5rem;
}
body.auth form{
        margin-top: 5rem;
}
#login-main .form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#login-main h2 {
        margin-top: 0;
}

#login-main label {
        margin-right: 2rem;
        text-align: left;
}
#login-main input{
        width: initial;
}

#login-main .form-row.submit-row {
        justify-content: space-between;
}

#login-main .form-submit {
        margin: 0;
        background: none;
        color: white;
        padding: 10px;
        border: 1px solid white;
}

#login-main .form-submit:focus,
#login-main .form-submit:hover{
        outline: none;
}

#login-main .form-submit:active{
        background:#16265d;
        color: white;
}
#register-error-label{
        color: transparent;
        font-weight: 900;
}
/* #endregion */


/* #region sidebar */
.home-main{
        display: flex;
        margin: 0;
}

.home-main h1 {
        font-weight: 900;
        text-align: left;
}

aside{
        width: 20rem;
        background-color: #265473;
        color: white;
        height: calc(100vh - 2rem);
        margin: 1rem;
        margin-right: 0;
        padding: 0 1.5rem;
        border-radius: 5px;
}


.sidebar-links-list {
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;
}
.sidebar-link{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        text-decoration: none;
        color: white;
}
.sidebar-link-icon {
        width: 1.2rem;
        margin-right: 5px;
}
.sidebar-links-list hr {
        margin-bottom: 2rem;
}
.continue-list-header {
        font-size: 1.1rem;
        font-weight: 600;
}
.siderbar-continue-list {
        padding-left: 0;
}
.continue-module-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
}
.continue-module-details{
        display: flex;
        align-items: center;
}
img.continue-module-img {
        height: 5rem;
        width: 5rem;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 1px 1px 3px 0px  #2f0202a3;
}
.continue-module-name {
        margin: 0;
        font-weight: 400;
        font-size: 0.95rem;
}
.module-bookmark-place {
        font-size: 0.7rem;
        font-weight: 100;
}
.continue-module-play {
        width: 1.5rem;
        height: auto;
        border-radius: 50%;
        box-shadow: 1px 1px 3px 0 #00000030;
        background: #152e3f;
}
/* #endregion sidebar */

/* #region home-main styling */
.home-main{
        /* background-image: url('./img/sun-pattern.webp'); */
        background-image: url('./img/struckaxiom.webp');
        background-repeat: repeat;
        background-color: #152e3fe0;
        background-blend-mode: multiply;
}
.home-main main{
        margin: 1rem 1.5rem;
        margin-right: 0;
        width: 100%;
        height: calc(100vh - 2rem);
        overflow-y: scroll;
}

.header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
}
.filter-btn{
        margin: 0;
}
.search-cont{
        background-color: #265473;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        padding: 15px;
        border-radius: 15px;
        width: -webkit-fill-available;
        max-width: 30rem;
}
.search-img{
        width: 1.5rem;
        height: auto;
        margin-right: 5px;
}
.search-input{
        outline: none;
        padding: 0 1px;
        border: none;
        width: 100%;
        font-size: 1rem;
        font-weight: 100;
}
.search-input:focus{
        outline: none;
}
.account-cont{
        display: flex;
        justify-items: center;
}
.account-img{
        border-radius: 50%;
        width: 2.5rem;
        height: auto;
        margin-right: 0.5rem;
}
.account-text{
        display: flex;
        flex-direction: column;
        color: #88c2e9;
}

/* ___________Hero Module ____________ */
.hero-module,
.module-preview{
        background-image: url(./img/travel-in-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #1a080159;
        background-blend-mode: multiply;
        color: #ffffffd6;
        border-radius: 5px;
        padding: 1.5rem;
}
.now-popular,
.hero-module-tags .tag,
.module-preview-tags .tag{
        background: #265473a3;
        border-radius: 5px;
        font-size: .8rem;
        padding: 5px 10px;
}
.now-popular{
        display: flex;
        align-items: center;
        width: max-content;
}
.now-popular-img{
        width: 12px;
        height: auto;
        margin-right: 5px;
}
.hero-module-main{
        margin-top: 10rem;
}
.hero-module-name,
.module-preview-name{
        margin: 1rem 0;
}
.hero-module-description,
.module-preview-description{
        margin: 0;
        width: 25rem;
        text-align: justify;
}
.hero-button-row,
.module-preview-button-row{
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
}
.hero-button,
.module-preview-button{
        margin-left: 0;
        margin-right: 1rem;
        border-radius: 1rem;
}

/* __________main modules _______________ */
.module-type-selector {
        display: flex;
        width: max-content;
        margin: 1rem auto;
        background: #265473;
        color: white;
        font-size: 0.9rem;
        border-radius: 15px;
}
.type {
        padding: 15px 10px;
        border-radius: 15px;
}
.type.active {
        background: #1b394d;
}
.module-row {
        display: flex;
}
.module {
        width: max-content;
        color: #e2f2fdbd;
        margin-right: 2rem;
}
.module-img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        cursor: pointer;
}
.module-name {
        margin: 0;
        font-weight: 300;
}
.module-details {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
}
.module-details > span {
        display: flex;
        align-items: center;
}
.module-details img {
        width: 20px;
        margin-right: 5px;
}
/* #endregion home styling */

/* #region Module-preview */
.module-preview-cont{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1a0801f5;
        display: none;
}
.module-preview {
        width: 60vw;
        height: 60vh;
        margin: 20vh 20vw;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
.exit-module-preview {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2rem;
        margin-right: 2rem;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: 3px solid transparent;
}
        .exit-module-preview:hover{
                border-color: #692105;
        }
        .exit-module-preview:active{
                box-shadow: inset 1px 1px 3px 4px #390707;
        }
.exit-module-preview-img {
        width: 100%;
        margin-left: -6px;
}
/* #endregion Module-preview */

/* #region Module Page */
.module-page-module-cont .module-length{
        margin: 0;
        text-align: center;
        margin-bottom: 0.5rem;
}
.module-page-module-cont .boxed-details{
        display: flex;
        justify-content: space-between;
        border: 2px solid;
        border-radius: 3px;
        margin-bottom: 0.5rem;
        padding: 5px 10px;
        background: white;
        color: #2f4452;
}
.module-page-module-cont .boxed-details > span{
        font-weight: 500;
}
.module-page-module-cont .boxed-details em{
        font-weight: 300; 
        margin-left: 5px;
}
.module-page-module-cont .detail-row{
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
}
.module-page-module-cont h4{
        margin: 0;
}
.module-page-module-cont .module-ctas-row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.module-page-module-cont .module-ctas-row .module-enroll{
        margin-right: 1rem;
}

/*_______________Tall Image Style____________ */
.module-page-module-cont.tall{
        display: flex;
        width: 100%;
        height: 100%;
}
.module-page-module-cont.tall .module-hero-img{
        width: 60%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
}
.module-page-module-cont.tall .module-description-cont{
        /* display: flex; */
        color: white;
        margin-left: 1rem;
}
.module-page-module-cont.tall .module-main-details{
        text-align: justify;
}
.module-page-module-cont.wide .module-sub-details{
        margin-top: 0.83em;
}


/*_______________Wide Image Style____________ */
.module-page-module-cont.wide .module-hero-img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center;
        
}
.module-page-module-cont.wide .module-description-cont{
        display: flex;
        color: white;
}
.module-page-module-cont.wide .module-main-details{
        width: 70%;
        margin-right: 1rem;
}
.module-page-module-cont.wide .module-sub-details{
        margin-top: 0.83em;
}
/* #endregion Module Page */

/* #region Module-view Page */
.module-view{
        display: flex;
        color: white;
}

/* _______________Video view______________ */
.module-view.video{

}
.module-view.video .module-view-main{
        width: 70%;
}
.module-view.video .video{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        border-radius: 1rem;
}
.module-view.video .notes-and-comments-cont{

}
.module-view.video .comment-react-row {
        display: flex;
        justify-content: left;
}

.module-view.video .comment-react-row> button{
        margin-left: 0;
        margin-right: 1rem;
        padding: 2px 4px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #ffffff;
}
.module-view.video .comment-react-row img{
        width: 1rem;
        height: 1rem;
}

.module-view.video .comment {
        margin: 0;
        margin-top: 1.5rem;
}
.module-view.video .comment-author {
        margin: 0;
        font-size: 0.9rem;
}
.module-view.video .actual-comment {
        margin: 0.2rem 0 0.5rem;
}

.module-view.video .module-view-sidebar{
        width: 30%;
        margin-left: 1rem;
}
.module-view.video .module-details {
        display: table;
        width: 100%;
}

.module-view.video .module-view-sidebar > *{
        border: 2px solid gray;
        border-radius: 10px;
        padding: 0.5rem 0.7rem;
        margin: 0;
}
.module-details {
        background-color: white;
        color: #2f4452;
}
.module-view.video tbody,
.module-view.video .detail{
        width: 100%;
}

td.detail-detail {
        text-align: right;
}
.module-view.video .detail-title {
        font-weight: 500;
}
.module-view .tag {
        background: #1a0801;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
}
.module-tags {
        display: flex;
        flex-wrap: wrap;
}
.module-actual-description {
        margin-top: 0.5rem;
}

.module-view.video .module-chapters-cont{
        margin-top: 1rem;
}
/* #endregion Module-view Page */

/* #region create-module */
.create-module-main{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
}
body.create-module h2{
        text-align: center;
        color: white;
}
.create-img-cont{
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.create-img-cont img{
        height: 20vh;
        z-index: 1;
        cursor: pointer;
}
.create-img-cont label.select-img-label {
        color: white;
        text-align: center;
        pointer-events: none;
        font-weight: 900;
        margin-bottom: 1rem;
        margin-left: -2rem;
}
.create-img-cont input[type="file"] {
        opacity: 0;
}
.input-error-label{
        display: block;
        color: #df7272e0;
        font-weight: 600;
        text-align: center;
}
#create-module-main-details .input-error-label{
        margin-left: 0;
        opacity: 0;
        margin-top: 5px;
        font-weight: 500;
}
body.create-module button.img-submit{
        margin-top: 1rem;
        margin-left: 5.3rem;
}

form#create-module-main-details{
        margin: 0;
}
.create-module-main .create-module-textarea{
        margin-top: 0;
}

.linked-video-cont,
.quiz-preview-main-cont{
        width: 45%;
}
.linked-video-cont h3,
.quiz-preview-main-cont h3{
        text-align: center;
        color: #88c2e9;
}
.linked-video-iframe {
        border-radius: 1rem;
        border: 5px solid #1a0801;
        width: 100%;
        height: 27rem;
}
.linked-video-error-label,
.quiz-preview-error-label{
        color: #88c2e9;
        text-align: center;
}

.continue-creation-form .form-row{
        display: flex;
        justify-content: center;
}
#create-another-chapter-btn{
        background-color: #039be5;
}
/* _____________add-Quiz______________ */
.added-answer-input-cont {
        display: flex;
        background-color: #265473;
        border: 1px inset rgb(118, 118, 118);
}
.added-answer-input-cont{
        padding: 0;
}
.answer-input.added{
        border: none;
        background-color: transparent;        
        padding: 0.75rem;
}
button.remove-answer-btn {
        background-color: transparent;
        padding: 0.75rem;
}
.question-minimized {
        display: flex;
        align-items: baseline;
}
.question-minimized label{
        display: flex;
        align-items: baseline;
        font-weight: 500;
}
.question-minimized label .question-number{
        margin-left: 1px;
}
.question-preview {
        display: -webkit-box; /* Enable flexbox-based layout for truncation */
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical; /* Vertical stacking of lines */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis; /* Show ellipsis for overflow */
        margin-left: 3px;
}
.maximize-question-btn {
        background-color: transparent;
        color: white;
        font-size: 1.2rem;
        padding: 0;
}
.quiz-preview-main-cont{
        color: white;
}
/* #endregion create-module */

/* #region watchlist page */
.watchlist-body {
        color: white;
}
.watchlist-body .module-cont{
        position: relative;
}
.watchlist-body h2 {
        text-align: center;
}

.watchlist-body section.watchlist-modules {
        display: flex;
        flex-wrap: wrap;
}

.watchlist-body .module-title {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        width: 10rem;
        padding: 0 6px 7px;
        font-size: 0.9em;
}

.watchlist-body .module-cont {
        margin-right: 2rem;
        margin-bottom: 2rem;
}

.watchlist-body .module-btn{
        position: absolute;
        font-size: 10px;
        padding: 11px;
        margin-left: 3rem;
}
.watchlist-body .module-btn.start{
        top: 3.5rem;
        background: #265473;;
}
.watchlist-body .module-btn.remove{
        top: 6rem;
        margin-left: 2.7rem;
}
.watchlist-body .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #11253369;
        box-shadow: inset 1px 1px 3px 0 black;
        border-radius: 5px;
}
/* #endregion watchlist page */